# Lienol K3 Stable Config

# set target system & profile
CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm_k3=y

# add default Extra packages
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_collectd-mod-thermal=y
#
# 3. Applications
#
# CONFIG_PACKAGE_luci-app-acl=y
# CONFIG_PACKAGE_luci-app-acme=y
CONFIG_PACKAGE_luci-app-adblock=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-advanced-reboot=y
# CONFIG_PACKAGE_luci-app-ahcp=y
# CONFIG_PACKAGE_luci-app-aria2=y
# CONFIG_PACKAGE_luci-app-arpbind=y
# CONFIG_PACKAGE_luci-app-attendedsysupgrade=y
# CONFIG_PACKAGE_luci-app-autoreboot=y
# CONFIG_PACKAGE_luci-app-babeld=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-banip=y
# CONFIG_PACKAGE_luci-app-bcp38=y
# CONFIG_PACKAGE_luci-app-bird1-ipv4=y
# CONFIG_PACKAGE_luci-app-bird1-ipv6=y
# CONFIG_PACKAGE_luci-app-bmx6=y
# CONFIG_PACKAGE_luci-app-bmx7=y
# CONFIG_PACKAGE_luci-app-cifs-mount=y
# CONFIG_PACKAGE_luci-app-cjdns=y
# CONFIG_PACKAGE_luci-app-clamav=y
# CONFIG_PACKAGE_luci-app-commands=y
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=y
# CONFIG_PACKAGE_luci-app-cshark=y
# CONFIG_PACKAGE_luci-app-dawn=y
# CONFIG_PACKAGE_luci-app-dcwapd=y
CONFIG_PACKAGE_luci-app-ddns=y
# CONFIG_PACKAGE_luci-app-diag-core=y
# CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
# CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
# CONFIG_PACKAGE_luci-app-dnscrypt-proxy=y
# CONFIG_PACKAGE_luci-app-dockerman=y
# CONFIG_PACKAGE_luci-app-dump1090=y
# CONFIG_PACKAGE_luci-app-dynapoint=y
# CONFIG_PACKAGE_luci-app-eoip=y
CONFIG_PACKAGE_luci-app-fileassistant=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-firewall=y
# CONFIG_PACKAGE_luci-app-frpc=y
# CONFIG_PACKAGE_luci-app-frps=y
# CONFIG_PACKAGE_luci-app-fwknopd=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-hd-idle=y
# CONFIG_PACKAGE_luci-app-hnet=y
# CONFIG_PACKAGE_luci-app-https-dns-proxy=y
# CONFIG_PACKAGE_luci-app-ipsec-server=y
CONFIG_PACKAGE_luci-app-kodexplorer=y
# CONFIG_PACKAGE_luci-app-ksmbd=y
# CONFIG_PACKAGE_luci-app-ledtrig-rssi=y
# CONFIG_PACKAGE_luci-app-ledtrig-switch=y
# CONFIG_PACKAGE_luci-app-ledtrig-usbport=y
# CONFIG_PACKAGE_luci-app-lxc=y
CONFIG_PACKAGE_luci-app-minidlna=y
# CONFIG_PACKAGE_luci-app-mjpg-streamer=y
# CONFIG_PACKAGE_luci-app-mtwifi=y
# CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_luci-app-mwan3helper=y
# CONFIG_PACKAGE_luci-app-netdata=y
# CONFIG_PACKAGE_luci-app-nextdns=y
# CONFIG_PACKAGE_luci-app-nfs=y
# CONFIG_PACKAGE_luci-app-nft-qos=y
# CONFIG_PACKAGE_luci-app-nginx-pingos=y
# CONFIG_PACKAGE_luci-app-nlbwmon=y
# CONFIG_PACKAGE_luci-app-nps=y
# CONFIG_PACKAGE_luci-app-ntpc=y
# CONFIG_PACKAGE_luci-app-nut=y
# CONFIG_PACKAGE_luci-app-oaf=y
# CONFIG_PACKAGE_luci-app-ocserv=y
# CONFIG_PACKAGE_luci-app-olsr=y
# CONFIG_PACKAGE_luci-app-olsr-services=y
# CONFIG_PACKAGE_luci-app-olsr-viz=y
# CONFIG_PACKAGE_luci-app-omcproxy=y
# CONFIG_PACKAGE_luci-app-openvpn=y
# CONFIG_PACKAGE_luci-app-openvpn-server=y
CONFIG_PACKAGE_luci-app-opkg=y
# CONFIG_PACKAGE_luci-app-p910nd=y
# CONFIG_PACKAGE_luci-app-pagekitec=y
# CONFIG_PACKAGE_luci-app-polipo=y
# CONFIG_PACKAGE_luci-app-pppoe-relay=y
# CONFIG_PACKAGE_luci-app-pppoe-server=y
# CONFIG_PACKAGE_luci-app-pptp-server=y
# CONFIG_PACKAGE_luci-app-privoxy=y
# CONFIG_PACKAGE_luci-app-qbittorrent=y
# CONFIG_PACKAGE_luci-app-qos=y
# CONFIG_PACKAGE_luci-app-radicale=y
# CONFIG_PACKAGE_luci-app-radicale2=y
CONFIG_PACKAGE_luci-app-ramfree=y
# CONFIG_PACKAGE_luci-app-rosy-file-server=y
# CONFIG_PACKAGE_luci-app-rp-pppoe-server=y
# CONFIG_PACKAGE_luci-app-samba=y
# CONFIG_PACKAGE_luci-app-samba4=y
# CONFIG_PACKAGE_luci-app-ser2net=y
# CONFIG_PACKAGE_luci-app-shadowsocks-libev=y
# CONFIG_PACKAGE_luci-app-shairplay=y
# CONFIG_PACKAGE_luci-app-siitwizard=y
CONFIG_PACKAGE_luci-app-simple-adblock=y
# CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-snmpd=y
# CONFIG_PACKAGE_luci-app-socat=y
# CONFIG_PACKAGE_luci-app-softether=y
# CONFIG_PACKAGE_luci-app-softethervpn=y
# CONFIG_PACKAGE_luci-app-splash=y
# CONFIG_PACKAGE_luci-app-sqm=y
# CONFIG_PACKAGE_luci-app-squid=y
# CONFIG_PACKAGE_luci-app-ssr-mudb-server=y
CONFIG_PACKAGE_luci-app-statistics=y
# CONFIG_PACKAGE_luci-app-syncdial=y
# CONFIG_PACKAGE_luci-app-syncthing=y
# CONFIG_PACKAGE_luci-app-tcpdump=y
CONFIG_PACKAGE_luci-app-timecontrol=y
# CONFIG_PACKAGE_luci-app-tinyproxy=y
# CONFIG_PACKAGE_luci-app-transmission=y
# CONFIG_PACKAGE_luci-app-travelmate=y
# CONFIG_PACKAGE_luci-app-ttyd=y
# CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
# CONFIG_PACKAGE_luci-app-udpxy=y
# CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-unblockmusic=y
CONFIG_UnblockNeteaseMusic_Go=y
# CONFIG_PACKAGE_luci-app-unbound=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=y
# CONFIG_PACKAGE_luci-app-verysync=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
# CONFIG_PACKAGE_luci-app-vnstat=y
# CONFIG_PACKAGE_luci-app-vnstat2=y
# CONFIG_PACKAGE_luci-app-vpn-policy-routing=y
# CONFIG_PACKAGE_luci-app-vpnbypass=y
# CONFIG_PACKAGE_luci-app-vsftpd=y
# CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-wifischedule=y
# CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wol=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
# CONFIG_PACKAGE_luci-app-xinetd=y
# CONFIG_PACKAGE_luci-app-xlnetacc=y
# CONFIG_PACKAGE_luci-app-yggdrasil=y
# CONFIG_PACKAGE_luci-app-zerotier=y
# end of 3. Applications

#
# 4. Themes
#
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-bootstrap-mod=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-openwrt-2020=y
# end of 4. Themes

#add custom Applications
#CONFIG_PACKAGE_luci-app-bypass=y
#CONFIG_PACKAGE_luci-app-dnsfilter=y
