# Lienol K3 Stable Config

# set target system & profile
CONFIG_TARGET_bcm53xx=y
CONFIG_TARGET_bcm53xx_generic_DEVICE_phicomm_k3=y

# add default Extra packages
#CONFIG_PACKAGE_automount=y

# remove default Applications
CONFIG_DEFAULT_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-i18n-nlbwmon-zh-cn=n
CONFIG_PACKAGE_nlbwmon=n

CONFIG_PACKAGE_luci-app-qbittorrent_static=n

CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=n
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_fuse-utils=n

CONFIG_DEFAULT_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_UnblockNeteaseMusic_Go=n
CONFIG_PACKAGE_luci-i18n-unblockmusic-zh-cn=n
CONFIG_PACKAGE_UnblockNeteaseMusicGo=n
CONFIG_UnblockNeteaseMusicGo_INCLUDE_GOPROXY=n

# add default Applications
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-statistics=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-wifischedule=y

# add default Utilities
CONFIG_PACKAGE_collectd=y
CONFIG_PACKAGE_collectd-mod-thermal=y

# add custom theme
CONFIG_PACKAGE_luci-theme-darkmatter=y

#add custom Applications
CONFIG_PACKAGE_luci-app-bypass=y
CONFIG_PACKAGE_luci-app-dnsfilter=y
